html {
    background-color: #fdf1d3;
}

ul {
    list-style: none;
    padding: 0;
    font-size: 16px;
    position: fixed;
}

ul li {
    display: inline;
    margin-right: 20px;
}

ul li a {
    text-decoration: none;
    font-weight: bold;
    color: blue;
}

iframe {
    margin-top: 50px;
    border: none;
}

ul li a:hover {
    color: #ff9900;
}